@using Smile_Shop.Lozalization.Resources
@model Smile_Shop.ViewModels.User.UserVm

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="aboutForm">
    <div class="validation-summary-errors">
        @Html.ValidationSummary()
    </div>

    @using (Html.BeginForm("", "About", "Home", FormMethod.Post, new { @class = "form-control" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)

        @Html.LabelFor(m => m.FirstName)

        @Html.TextBoxFor(m => m.FirstName)

        @Html.LabelFor(m => m.LastName)

        @Html.TextBoxFor(m => m.LastName)

        <input type="file" name="file"/>

        <input type="submit" value="@Resources.Save"/>
    }

</div>
