@using Smile_Shop.Lozalization.Resources

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmileShop</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
@* Top menu *@
    <div class="title-text">
        <div class="miracle">
            <div id="miracle">@Resources.Miracle</div>
        </div>
        <div class="smile">
            <div>@Resources.Smile</div>
        </div>
    </div>
    <nav>
        <ul id="ulHeader" class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink(Resources.Home, "Index", "Home")</li>
            <li>@Html.ActionLink(Resources.MyAccount, "Index", "Home")</li>
            <li>@Html.ActionLink(Resources.Terms, "Terms", "Home")</li>
            <li>@Html.ActionLink(Resources.ShoppingCart, "Delivery", "Delivery")</li>
            <li>@Html.ActionLink(Resources.LogIn, "Login", "Account")</li>
            <li>@Html.ActionLink(Resources.Contacts, "Contacts", "Home")</li>
        </ul>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        @* Aside menu *@
        <aside>
            <ul class="left-menu">
                <li>
                    <div class="circle circle-orange"></div>
                    <div class="orange">@Html.ActionLink(Resources.Knitting.ToLower(), "Pletivo", "Home")</div>
                </li>
                <li>
                    <div class="circle circle-blue"></div>
                    <div class="blue">@Html.ActionLink(Resources.Cards.ToLower(), "Pletivo", "Home")</div>
                </li>
                <li>
                    <div class="circle circle-green"></div>
                    <div class="green">@Html.ActionLink(Resources.Textiles.ToLower(), "Pletivo", "Home")</div>
                </li>
                <li>
                    <div class="circle circle-orange"></div>
                    <div class="orange">@Html.ActionLink(Resources.Ceramics.ToLower(), "Pletivo", "Home")</div>
                </li>
                <li>
                    <div class="circle circle-blue"></div>
                    <div class="blue">@Html.ActionLink(Resources.Glass.ToLower(), "Pletivo", "Home")</div>
                </li>
                <li>
                    <div class="circle circle-green"></div>
                    <div class="green">@Html.ActionLink(Resources.Wood.ToLower(), "Pletivo", "Home")</div>
                </li>
                <li>
                    <div class="circle circle-orange"></div>
                    <div class="orange">@Html.ActionLink(Resources.Flowers.ToLower(), "Pletivo", "Home")</div>
                </li>
                <li>
                    <div class="circle circle-blue"></div>
                    <div class="blue">@Html.ActionLink(Resources.Pictures.ToLower(), "Pletivo", "Home")</div>
                </li>
                <li>
                    <div class="circle circle-green"></div>
                    <div class="green">@Html.ActionLink(Resources.Jewerly.ToLower(), "Pletivo", "Home")</div>
                </li>
            </ul>
        </aside>
    </div>
    <footer>
        @*Bottom menu*@
        <div class="navbar">
            <ul id="ulFooter" class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink(Resources.Home, "Index", "Home")</li>
                <li>@Html.ActionLink(Resources.MyAccount, "Profile")</li>
                <li>@Html.ActionLink(Resources.LogIn, "Login", "Account")</li>
            </ul>
        </div>
    </footer>
</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)

</html>
